$fuentePrincipal: Verdana, Geneva, Tahoma, sans-serif;

$colorPrincipal: rgba(#145885,1);
$colorSecundario: rgb(209, 209, 57);

$errorColor:rgb(226, 41, 8);
$successColor: rgb(15, 190, 67);
$btPrincipalColor:grey;